In [3]:
import import_ipynb
from db_connection import get_connection

def fetch_all_employees():
    """Lấy toàn bộ dữ liệu từ bảng employee"""
    conn = get_connection()
    if conn is None:
        return None

    try:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM employee")  
        rows = cursor.fetchall()
        cursor.close()  # Đóng con trỏ trước khi return
        return rows

    except Exception as e:
        print(f"❌ Lỗi truy vấn: {e}")
        return None

    finally:
        if conn:
            conn.close()  # Đóng kết nối khi xong

✅ Kết nối SQL Server thành công!

In [4]:
fetch_all_employees()

✅ Kết nối SQL Server thành công!

[(1, 'EMP001', 1, 'Nguyễn Văn A', 'nguyenvana', 'password123', 'nguyenvana@example.com', '0912345678', 'photo1.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Hà Nội', False, True),
 (2, 'EMP002', 2, 'Nguyễn Thị B', 'nguyenthitha', 'password123', 'nguyenthitha@example.com', '0912345679', 'photo2.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Hà Nam', False, False),
 (3, 'EMP003', 1, 'Phạm Minh C', 'phamminhc', 'password123', 'phamminhc@example.com', '0912345680', 'photo3.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Hà Nội', False, True),
 (4, 'EMP004', 3, 'Lê Quang D', 'lequangd', 'password123', 'lequangd@example.com', '0912345681', 'photo4.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Tây Ninh', False, True),
 (5, 'EMP005', 2, 'Vũ Minh E', 'vuminhE', 'password123', 'vuminhE@example.com', '0912345682', 'photo5.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Phú Thọ', False, False),
 (6, 'EMP006', 3, 'Trần Thi F', 'tranthif', 'password123', 'tranthif@example.com', '0912345683', 'photo6.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Hà Nội', False, False),
 (7, 'EMP007', 1, 'Hồ Hoàng G', 'hohoangg', 'password123', 'hohoangg@example.com', '0912345684', 'photo7.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Hà Nam', False, True),
 (8, 'EMP008', 2, 'Ngô Minh H', 'ngominhh', 'password123', 'ngominhh@example.com', '0912345685', 'photo8.jpg', 1, datetime.datetime(2025, 2, 17, 0, 0), datetime.datetime(2025, 2, 17, 0, 0), 'Nam Định', False, False)]